body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

input {
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    border: none;
    padding: 20px;
    margin-top: 50px;
    width: 220px;
    font-size: 16px;
    box-shadow: inset 0px 0px 0px 4px #1eac42;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    text-align: center;
}

h2 {
    background-color: rgba(255, 255, 255, 0.7) ;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
}

h3 {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
}

ul {
    list-style: none;
    font-size: 18px;
    font-weight: bolder;
}

li {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
}

.btn {
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    opacity: 0.9;
}

.btn:hover {
    cursor: pointer;
}

.CaloriesPar {
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 5px;
}

.RecipePic {
    border-radius: 10px;
}

.changeWidth {
    text-align: center;
}

hr.style-five {
    border: 0;
    height: 0;
    width: 100%;
    box-shadow: 0 0 10px 1px rgb(199, 196, 196);
}

hr.style-five {
    border: 0;
    height: 0;
    width: 100%;
    -webkit-box-shadow: 0 0 10px 1px rgb(227, 220, 220);
    box-shadow: 0 0 10px 1px rgb(243, 237, 237);
}

.DietLabelsPar {
    display: inline;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
}